img {
    width: 85px;
    height: 62px;
    margin-top: 16px;
    margin-bottom: 16px;
    object-fit: contain;
}


.spinner {
    width: 154px;
}

table.table-fit {
    width: 1px !important;
}

div.summary {
    background-color: #e3e3e3;
    border-radius: 4px;
    padding: 12px;
}