@import "../../../../styles/typography/texts.scss";
@import "../../../../styles/colors/colors.scss";


.text {
    @include uppercase-text;
}

.beer-styles {
    @include bold-text;
}

.img-arrow-up {
    float: right;
}

.method {
    @include bold-text;
}

.spec-prods {
    @include bold-text;
}

.alcohol-range {
    @include bold-text;
}

.from {
    width: 92px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $greyscale-dark-grey;
}

.until {
    width: 92px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $greyscale-dark-grey;
}