<div class="container-fluid">
  <div class="row">
    <div class="col-4" [routerLink]="['/beers']">
      <img class="beer-logo" src="../../../../assets/logo.svg" alt="Beer logo" />
    </div>
    <div class="col-4 d-flex align-items-center">
      <app-search-bar></app-search-bar>
    </div>
    <div class="col-4 d-flex align-items-center">
      <app-my-account></app-my-account>
      <app-wishlist></app-wishlist>
      <app-compare></app-compare>
      <app-cart></app-cart>
    </div>
  </div>
</div>
