<div class="container-fluid" *ngIf="beer[0]">
    <div class="row">
        <div class="col-4">
            <img src="{{beer[0].image_url}}" width="200px" alt="">
        </div>
        <div class="col-4">
            <h1>{{beer[0].name}}</h1>
            <h2>{{beer[0].tagline}}</h2>
            <p class="description">{{beer[0].description}}</p>
            <strong>€{{beer[0].price | number: '1.2-2'}}</strong>
            <p>Plus shipping costs</p>
        </div>
        <div class="col-4">
            <div class="checkout-container">
                <strong>Delivery time appr. 3-7 days</strong>
                <h3>Total</h3>
                <strong>€{{beer[0].price | number: '1.2-2'}}</strong><br>
                <span>Prices incl. VAT plus shipping costs</span>
                <app-spinner></app-spinner>
                <app-primary-button></app-primary-button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h1>Beer Facts</h1>
                </div>
            </div>

            <div class="row details">
                <div class="col-2">
                    Ingredients
                </div>
                <div class="col-10">
                    <span *ngFor="let maltIngredient of beer[0].ingredients.malt">
                        {{maltIngredient.name}}
                    </span> <br>
                    <span *ngFor="let hopsIngredient of beer[0].ingredients.hops">
                        {{hopsIngredient.name}}
                    </span>
                </div>
            </div>
            <div class="row details">
                <div class="col-2">
                    Brewery
                </div>
                <div class="col-10">
                    Does not exist in api
                </div>
            </div>
            <div class="row details">
                <div class="col-2">
                    Beer Style
                </div>
                <div class="col-10">
                    <p>{{beer[0].ingredients.yeast}}</p>
                </div>
            </div>
            <div class="row details">
                <div class="col-2">
                    ABV (% ALCOHOL):
                </div>
                <div class="col-10">
                    <p>{{beer[0].abv}}</p>
                </div>
            </div>
            <div class="row details">
                <div class="col-2">
                    Drinking Temperature (in °C):
                </div>
                <div class="col-10">
                    <p>{{beer[0].srm}} - {{beer[0].ebc}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-customers-also-bought></app-customers-also-bought>
        </div>
    </div>
</div>