img {
    width: 270px;
    height: 160px;
    margin-top: 16px;
    margin-bottom: 16px;
    object-fit: contain;
    background-color: #979797;
}

div.checkout-container {
    background-color: #979797;
    padding: 16px;
}

div.col-2 {
    color: #979797
}

div.details {
    margin-top: 32px;
    border-bottom: 1px solid #979797;
}