@import "../../../styles/typography/texts.scss";
@import "../../../styles/colors/colors.scss";

.search-container {
    height: 40px;
    width: 520px;
    border: 1px solid $greyscale-dark-grey;
    border-radius: 4px;

}

img {
    position: relative;
    top: -17px;
    float: right;
    right: 20px;
    background-color: $primary;
}

.search-container:hover {
    border: 1px solid $greyscale-black;
}

// .serach-icon-container {
//     width: 40px;
//     height: 40px;
//     mask: url('../../../assets/icons/24x24/search.svg') no-repeat;
//     background-color: $primary;

// }
// .search-icon {
//     width: 24px;
//     height: 24px;
//     color: $primary;
    
// }