<div class="container">
  <div class="product-card">
    <div class="badge-container">
      <span class="sale" *ngIf="beer.isOnSale">Sale</span>
      <span class="product-of-the-week" *ngIf="beer.isProductOfTheWeek">Product of the week</span>
      <span class="new" *ngIf="beer.isNew">New</span>
      <span class="soldout" *ngIf="beer.isSoldOut">Sold Out</span>
    </div>
    <img
      src="{{beer.image_url}}"
      alt=""
      [routerLink]="['/pdp/', beer.id]"
    />
    <div class="description-container">
      <span>{{beer.tagline}}</span>
      <strong [routerLink]="['/pdp/', beer.id]">{{beer.name}}</strong>
      <span>{{beer.contributed_by}}</span>
    </div>
    <div class="price-container">
      <div class="price-container-left">
        <strong>€{{beer.price | number: '1.2-2'}}</strong>
        <span *ngIf="beer.isOnSale">€{{beer.oldPrice | number: '1.2-2'}}</span>
      </div>
      <div class="price-container-right" *ngIf="beer.isOnSale">
        <span>50% OFF</span>
      </div>
    </div>
    <div class="content-container">
      <span>Content</span>
      <span>{{beer.volume | number: '1.2-2'}} Liter</span>
    </div>
    <div class="row">
      <div class="col-2">
        <input type="number" class="quantity" />
      </div>
      <div class="col-10">
        <app-primary-button [isDisabled]="beer.isSoldOut"></app-primary-button>
      </div>
    </div>
  </div>
</div>
