.container {
    width: 302px;
}

div.product-card {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    padding: 16px;
}

div.badge-container {
    padding-top: 7px;
}

span.sale {
    border-radius: 4px;
    background-color: purple;
    color: white;
    padding: 8px;
    margin-right: 6px;
}

span.product-of-the-week {
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 8px;
}

span.new {
    border-radius: 4px;
    background-color: cyan;
    color: white;
    padding: 8px;
    margin-right: 6px;
}

span.soldout {
    border-radius: 4px;
    background-color: orangered;
    color: white;
    padding: 8px;
    margin-right: 6px;
}

img {
    width: 270px;
    height: 160px;
    margin-top: 16px;
    margin-bottom: 16px;
    object-fit: contain;
}

div.price-container-right {
    float: right
}

div.description-container {
    span {
        display: block;
    }
}