<!-- <app-filter-tag></app-filter-tag><br>
<app-new></app-new><br>
<app-product-of-the-week></app-product-of-the-week><br>
<app-sold-out></app-sold-out><br>
<app-sale></app-sale><br> -->
<!-- <app-input></app-input><br> -->
<!-- <app-checkbox></app-checkbox><br>
<app-primary-button></app-primary-button><br>
<app-secondary-button></app-secondary-button><br>
<app-icon-only-button></app-icon-only-button><br>
<app-text-button></app-text-button><br>
<app-bestsellers></app-bestsellers><br>
<app-my-account></app-my-account><br>
<app-spinner></app-spinner><br>
<app-paging></app-paging><hr> -->
<!-- <ng-container *ngFor="let beer of beers">
    <app-product-card [beer]="beer"></app-product-card>
</ng-container><br> -->
<!-- <app-search-bar></app-search-bar> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
        <app-beer-filter></app-beer-filter>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
