$primary: rgb(90, 176, 187);

$graduation-turquoise-dark: rgb(20, 147, 164);

$graduation-turquoise-light: rgb(206, 231, 235);

$accent-violet: rgb(102, 49, 141);

$accent-orange: rgb(251, 130, 0);

$functional-success-green1: rgb(75, 175, 80);

$functional-success-green2: rgb(235, 244, 230);

$functional-warning-error: rgb(190, 0, 40);

$greyscale-black: rgb(0, 0, 0);

$greyscale-dark-grey: rgb(123, 126, 130);

$greyscale-light-grey: rgb(233, 233, 233);

$greyscale-very-light-grey: rgb(250, 249, 251);

$greyscale-white: rgb(255, 255, 255);
