@mixin headline-h1 {
  font-size: 28px;
  line-height: 36px;
  weight: 800;
}

@mixin headline-h2 {
  font-size: 24px;
  line-height: 32px;
  weight: 800;
}

@mixin headline-h3 {
  font-size: 20px;
  line-height: 28px;
  weight: 600;
}

@mixin headline-h4 {
  font-size: 18px;
  line-height: 28px;
  weight: 700;
  text-transform: uppercase;
}

@mixin headline-h5 {
  font-size: 16px;
  line-height: 24px;
  weight: 800;
}
