@import "../../../../styles/typography/texts.scss";
@import "../../../../styles/colors/colors.scss";

.sale {
  display: flex;
  flex-direction: row;
  padding: 1px 11px;
  width: 45px;
  height: 25px;
  background-color: $accent-violet;
  border-radius: 4px;
}

.text {
  @include caption-small-bold;
  display: flex;
  align-items: center;
  color: $greyscale-white;
  font-family: 'Lato';
}
